In [1]:
import pandas as pd

In [2]:
retailprices = "final_files/prices/retailprices.csv"

In [3]:
pricepaidtogrowers = "final_files/prices/pricepaidtogrowers.csv"

In [4]:
indicatorprices = "final_files/prices/indicatorprices.csv"

In [5]:
retailprices_df = pd.read_csv(retailprices)

In [6]:
pricepaidtogrowers_df = pd.read_csv(pricepaidtogrowers)

In [7]:
indicatorprices_df = pd.read_csv(indicatorprices)

In [8]:
retail_df = retailprices_df.melt(id_vars=["Country"],var_name="Year",value_name="Value")

In [9]:
retail_df.head(2)

   Country  Year  Value
0  Austria  1990   4.90
1  Belgium  1990   3.27

In [10]:
retail_df["Pricetype"]="retail"

In [11]:
growers_df = pricepaidtogrowers_df.melt(id_vars=["country"],var_name="Year",value_name="Value")

In [12]:
growers_df.head(2)

    country  Year   Value
0  Colombia  1990  0.6952
1     Kenya  1990  0.6057

In [13]:
growers_df = growers_df.rename(columns={"country":"Country"})

In [14]:
growers_df["Pricetype"]="growers"

In [15]:
growers_df.head(2)

    Country  Year   Value Pricetype
0  Colombia  1990  0.6952   growers
1     Kenya  1990  0.6057   growers

In [16]:
mergeprices = growers_df.append(retail_df)

In [17]:
mergeprices.tail()

                Country  Year  Value Pricetype
865  Russian Federation  2019   7.12    retail
866         Switzerland  2019    NaN    retail
867      United Kingdom  2019  17.55    retail
868       United States  2019   4.14    retail
869                 AVG  2019   6.08    retail

In [18]:
indicatorprices_df["Country"]="AVG"

In [19]:
indicatorprices_df.head(2)

,Year,ICO composite indicator,Colombian\n Milds,Other Milds,Brazilian\n Naturals,Robustas,Country
0,1990,0.7153,0.9653,0.8946,0.8297,0.5360,AVG
1,1991,0.6680,0.8976,0.8498,0.7291,0.4862,AVG

In [20]:
indicatorprices_df= indicatorprices_df.rename(columns={"ICO composite indicator":"Value"})

In [21]:
indicatorprices_df.head(2)

,Year,Value,Colombian\n Milds,Other Milds,Brazilian\n Naturals,Robustas,Country
0,1990,0.7153,0.9653,0.8946,0.8297,0.5360,AVG
1,1991,0.6680,0.8976,0.8498,0.7291,0.4862,AVG

In [22]:
indicatorprices_df["Pricetype"]="ICO"

In [23]:
indicatorprices_df.head(2)

,Year,Value,Colombian\n Milds,Other Milds,Brazilian\n Naturals,Robustas,Country,Pricetype
0,1990,0.7153,0.9653,0.8946,0.8297,0.5360,AVG,ICO
1,1991,0.6680,0.8976,0.8498,0.7291,0.4862,AVG,ICO

In [24]:
indicatorprices_df.head(2)

,Year,Value,Colombian\n Milds,Other Milds,Brazilian\n Naturals,Robustas,Country,Pricetype
0,1990,0.7153,0.9653,0.8946,0.8297,0.5360,AVG,ICO
1,1991,0.6680,0.8976,0.8498,0.7291,0.4862,AVG,ICO

In [30]:
indicatorprices_df = indicatorprices_df[["Country","Year","Value","Pricetype"]]

In [31]:
indicatorprices_df.head(2)

  Country  Year   Value Pricetype
0     AVG  1990  0.7153       ICO
1     AVG  1991  0.6680       ICO

In [32]:
mergepricesfinal = mergeprices.append(indicatorprices_df)

In [33]:
mergepricesfinal.tail()

   Country  Year   Value Pricetype
25     AVG  2015  1.2467       ICO
26     AVG  2016  1.2731       ICO
27     AVG  2017  1.2669       ICO
28     AVG  2018  1.0903       ICO
29     AVG  2019  1.0052       ICO

In [34]:
mergepricesfinal.head()

    Country  Year   Value Pricetype
0  Colombia  1990  0.6952   growers
1     Kenya  1990  0.6057   growers
2  Tanzania  1990  0.4082   growers
3   Bolivia  1990  0.5178   growers
4   Burundi  1990  0.5802   growers

In [35]:
mergepricesfinal.to_csv("final_files/prices/mergepricesfinal.csv")

In [ ]:
#growers_df.merge(retail_df, on = ["Country","Year"], how = "outer")